@model VideoGame
@{
    ViewData["Title"] = "Add a new game";
}

<h1>Add a new game</h1>

@*https://getbootstrap.com/docs/4.3/components/forms/*@

<form method="post">
    <div class="form-group">
        <label asp-for="Title"></label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title"></span>
        <br />
    </div>
    <div class="form-group">
        <label asp-for="Rating"></label>
        <input asp-for="Rating" class="form-control" />
        <span asp-validation-for="Rating"></span>
        <br />
    </div>
    <div class="form-group">
        <label asp-for="Description"></label>
        <input asp-for="Description" class="form-control" />
        <span asp-validation-for="Description"></span>
        <br />
    </div>
    <div class="form-group">
        <label asp-for="Price"></label>
        <input asp-for="Price" class="form-control" />
        <span asp-validation-for="Price"></span>
        <br />
    </div>
    <input type="submit" value="Add Game" class="btn btn-primary" />
</form>

@* Server side comment
    Add reference to jquery validation which
    does client validation
*@
<partial name="_ValidationScriptsPartial" />